.previewButton {
    padding: 0.5rem 1rem;
    background-color: #e5e7eb;
    /* gray-200 */
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background-color 0.2s ease;
    font-size: 0.875rem;
}

.previewButton:hover {
    background-color: #d1d5db;
    /* gray-300 */
}